:root {
    --bg-colour-primary: #202124;
    --text-colour: #e8eaed;
    --bg-colour-secondary: #303134;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 1rem;

}

[type=search]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}
