:root {
    --bg-colour-primary: #202124;
    ;
    --text-colour: #e8eaed;
    --bg-colour-secondary: #303134;
}

body {
    background-color: var(--bg-colour-primary);
    color: var(--text-colour);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding-top: 1rem;
}

form {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #303134;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
    border-radius: 24px;
    margin: 0 auto;
    width: 690px;
}

.search-form input[type=search] {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    padding-left: 33px;

    outline: none;
}

[type=search]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

.search-form button {
    padding-right: 33px;
}

.search-form * {
    background: transparent;
    border: none;
    color: var(--text-colour);

}